<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Title</title>
     <!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Caesar+Dressing' rel='stylesheet' type='text/css'>
     <!--Import materialize.css-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="{% static 'css/sanghostyle.css' %}" rel="stylesheet"/>
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

   <body>
    <div class="parallax"><img src="{% static 'login.jpg' %}" alt="Unsplashed background img 2">
      <div class = "background-dark">
        <div class="section valign-wrapper">
        <div class="container">

          <div class="row">
            <h1 class="white-text text-darken-2 title">TERRORLISTS</h1>
            <h4 class="white-text text-darken-2">지금 바로 로그인하세요</h4>
            <form action="/login/" method="post" class="col s12">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s6">
                <input id="email" placeholder="" type="email" class="validate white-text" name="a">
                <label for="email" data-error="wrong" data-success="right">이메일</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="password" type="password" class="validate white-text" name="b">
                <label for="password">비밀번호</label>
              </div>
            </div>

            <div class="row">ss
              <input type="submit" class="waves-effect waves-light btn" value="로그인">
              </form>
            </div>
        </div>
        </div>
      </div>
    </div>


     <!--Import jQuery before materialize.js-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
   </body>
 </html>
